@if(courses.length > 0){

<div class="grid gap-4">
    <div class="grid gap-2">
        @for (course of courses; track course.courseId) {
            <label
                class="relative grid grid-cols-[auto_1fr] items-center gap-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg hover:border-primary-500 hover:text-primary-500 focus:text-primary-500 focus:ring-primary-500 focus:border-primary-500 has-checked:bg-primary-100 has-checked:border-primary-500 has-checked:text-primary-700 py-2 px-4 cursor-pointer">
                <input type="checkbox" [checked]="course.isSelected || false"  (change)="toggleCourseSelection(course, $event)" />
                <span>{{ course.courseName }}</span>
            </label>
        }
    </div>
    <div class="flex items-center">
        <div>
            @if (submitted && errorMessage != '') {
                <p class="valid-feedback text-red-700">
                    {{ errorMessage }}
                </p>
            }

            @if (submitted && successMessage != '') {
                <p class="valid-feedback text-green-700">
                    {{ successMessage }}
                </p>
            }
        </div>
        <div class="ml-auto">
            <button (click)="assignCourse()" class="btn-primary">
                Next
            </button>
        </div>
    </div>
</div>
}