<div class="page-container">
    <!-- Header -->
    <header class="page-header">
        <!-- Left Side: Title & Subtitle -->
        <div>
            <h1 class="text-2xl font-bold text-indigo-700">
                {{ this.id! > 0 ? 'Edit Course' : 'Add Course' }}
            </h1>
            <p class="text-sm text-gray-600 mt-1">
                {{ this.id! > 0
                ? 'Edit course details for your organization'
                : 'Create a new course for your organization' }}
            </p>
        </div>

        <!-- Right Side: Back Button -->
        <div class="ml-auto">
            <button type="button" (click)="goBackToList()" class="btn-outline group">
                <span class="w-[1.5em]">
                    <svg class="w-full h-full group-hover:animate-arrow-left" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
                <span>Back to List</span>
            </button>
        </div>
    </header>

    <section class="page-content">
        <form [formGroup]="CourseForm" *ngIf="CourseForm">
            <div class="card">
                <div class="flex justify-between items-center border-b border-blue-100 mb-6">
                    <div class="flex">
                        <button (click)="setActiveTab('courseDetails');resetMessage()" class="px-4 py-2 border-b-4"
                            [ngClass]="{'font-medium text-blue-700  border-blue-600 cursor-default': activeTab === 'courseDetails', 'text-gray-600 border-transparent cursor-pointer': activeTab !== 'courseDetails' }">
                            Course Details
                        </button>
                        <button (click)="setActiveTab('contentManagement');resetMessage()" class="px-4 py-2 border-b-4"
                            [ngClass]="{'font-medium text-blue-700  border-blue-600 cursor-default': activeTab === 'contentManagement', 'text-gray-600 border-transparent cursor-pointer': activeTab !== 'contentManagement'}">
                            Content Management
                        </button>
                        <button (click)="setActiveTab('learningGoals');resetMessage()" class="px-4 py-2 border-b-4"
                            [ngClass]="{'font-medium text-blue-700  border-blue-600 cursor-default': activeTab === 'learningGoals', 'text-gray-600 border-transparent cursor-pointer': activeTab !== 'learningGoals' }">
                            Learning Goals
                        </button>
                        <button (click)="setActiveTab('settings');resetMessage()" class="px-4 py-2 border-b-4"
                            [ngClass]="{'font-medium text-blue-700  border-blue-600 cursor-default': activeTab === 'settings', 'text-gray-600 border-transparent cursor-pointer': activeTab !== 'settings' }">
                            Settings & Publishing
                        </button>
                    </div>
                </div>
                @if (activeTab === 'courseDetails') {
                <div>

                    <div class="grid gap-4">
                        <div class="grid md:grid-cols-2 gap-4">
                            <div class="relative">
                                <label class="block text-sm font-medium text-gray-700 mb-1">
                                    Course Title
                                    <span class="text-red-500">*</span>
                                </label>
                                <input formControlName="courseName" type="text" class="form-input"
                                    placeholder="Enter course title">
                                @if (submitted && f['courseName'].errors) {
                                <div class="text-red-500 text-sm mt-1">
                                    @if (f['courseName'].errors['required']) {
                                    <p>Please enter course name</p>
                                    }
                                </div>
                                }
                            </div>
                            <div class="relative">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Duration <span
                                        class="text-red-500">*</span></label>
                                <input formControlName="duration" type="text" class="form-input">
                                @if (submitted && f['duration'].errors) {
                                <div class="text-red-500 text-sm mt-1">
                                    @if (f['duration'].errors['required']) {
                                    <p>Please enter duration</p>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1">Description</label>
                            <textarea formControlName="description" class="form-textarea"
                                placeholder="Enter course description"></textarea>
                        </div>
                        <div class="grid md:grid-cols-2 gap-4">
                            <div class="relative">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Category <span
                                        class="text-red-500">*</span></label>
                                <select formControlName="categoryId" class="form-select">
                                    <option value="">Select Category</option>
                                    @for (category of categories; track category.categoryId) {
                                    <option [value]="category.categoryId">{{ category.categoryName }}</option>
                                    }
                                </select>
                                @if (submitted && f['categoryId'].errors?.['required']) {
                                <div class="text-red-500 text-sm mt-1">
                                    <p>Please enter category</p>
                                </div>
                                }
                            </div>
                            <div class="relative">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Difficulty Level <span
                                        class="text-red-500">*</span></label>
                                <select formControlName="difficultyLevelId" class="form-select">
                                    <option value="">Select Level</option>
                                    @for (difficultyLevel of difficultyLevels; track difficultyLevel.difficultyLevelId)
                                    {
                                    <option [value]="difficultyLevel.difficultyLevelId">
                                        {{ difficultyLevel.difficultyLevelName }}
                                    </option>
                                    }
                                </select>
                                @if (submitted && f['difficultyLevelId'].errors?.['required']) {
                                <div class="text-red-500 text-sm mt-1">
                                    <p>Please select difficulty level</p>
                                </div>
                                }
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1">Course Thumbnail</label>
                            <!-- Radio Buttons -->
                            <div class="checkbox-group mb-4">
                                <label class="checkbox-label">
                                    <input type="radio" name="thumbnailType" formControlName="thumbnailType"
                                        value="upload" />
                                    <span>Upload Thumbnail</span>
                                </label>
                                <label class="checkbox-label">
                                    <input type="radio" name="thumbnailType" formControlName="thumbnailType"
                                        value="generate" />
                                    <span>Generate Thumbnail</span>
                                </label>
                            </div>
                            <!-- Upload Thumbnail Section -->
                            @if (CourseForm.get('thumbnailType')?.value == 'upload') {
                            <div class="grid grid-cols-[auto_1fr] items-start">
                                <div class="flex items-center gap-4">
                                    <input type="file" (change)="onThumbnailSelected($event)" accept="image/*" class="block w-full text-sm text-gray-500
                                            file:mr-4 file:py-2 file:px-4
                                            file:rounded-md file:border-0
                                            file:text-sm file:font-semibold
                                            file:bg-primary-50 file:text-blue-700
                                            hover:file:bg-blue-100 cursor-pointer" />
                                </div>
                                <div>
                                    <!-- Image preview -->
                                    @if (thumbnailPreview) {
                                    <div>
                                        <p class="text-sm text-gray-500 mb-1">Preview:</p>
                                        <img [src]="thumbnailPreview" (error)="onImgError($event)"
                                            alt="Thumbnail Preview"
                                            class="w-60 h-36 object-cover border border-gray-300 rounded shadow-md" />
                                    </div>
                                    }
                                    @if (course.thumbnailUrl && !thumbnailPreview) {
                                    <img [src]="course.thumbnailUrl" alt="Thumbnail Preview"
                                        (error)="onImgError($event)"
                                        class="w-60 h-36 object-cover border border-gray-300 rounded shadow-md" />
                                    }
                                </div>
                            </div>
                            }
                            <!-- Generate Thumbnail Section -->
                            @if (CourseForm.get('thumbnailType')?.value == 'generate') {
                            <div class="grid grid-cols-[auto_1fr] items-start mt-2 mr-2">
                                <button type="button" (click)="generateThumbnail()"
                                    class="px-4 py-2 bg-blue-600 text-white rounded-md shadow hover:bg-blue-700">
                                    Generate Thumbnail
                                </button>
                                @if (generateThumbnailPreview) {
                                <div class="mt-2 ml-2">
                                    <p class="text-sm text-gray-500 mb-1">Generated Preview:</p>
                                    <img [src]="generateThumbnailPreview" (error)="onImgError($event)"
                                        alt="Thumbnail Preview"
                                        class="w-60 h-36 object-cover border border-gray-400 rounded shadow-md" />
                                </div>
                                }
                                @else if (course.thumbnailUrl && !thumbnailPreview) {
                                <div class="ml-5">
                                    <img [src]="course.thumbnailUrl" alt="Thumbnail Preview"
                                        (error)="onImgError($event)"
                                        class="w-60 h-36 object-cover border border-gray-300 rounded shadow-md" />
                                </div>
                                }
                            </div>
                            }
                        </div>
                    </div>

                    <hr />

                    @if(permissions.showTenantScope) {
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-2">Tenant Scope</label>
                        <div class="checkbox-group">
                            <label class="checkbox-label">
                                <input formControlName="tenantscope" type="radio" value="all" />
                                <span>All Tenants</span>
                            </label>
                            <label class="checkbox-label">
                                <input formControlName="tenantscope" type="radio" value="specific" />
                                <span>Specific Tenants</span>
                            </label>
                        </div>
                        <div class="mt-4" [hidden]="CourseForm.get('tenantscope')?.value != 'specific'">
                            <label class="block text-sm font-medium text-gray-700 mb-2">Select Tenant</label>
                            <div class="select-multiple">
                                @for(tenant of tenants; track tenant.tenantId) {
                                <label class="option">
                                    <input type="checkbox" [(ngModel)]="tenant.isSelected"
                                        [ngModelOptions]="{ standalone: true }" name="tenant_{{tenant.tenantId}}" />
                                    <span>{{ tenant.tenantName }}</span>
                                </label>
                                }
                            </div>

                            @if(submitted && !atLeastOneTenantSelected()) {
                            <div class="text-red-500 text-sm mt-1">
                                <p>Please select at least one tenant</p>
                            </div>
                            }
                        </div>
                    </div>

                    <hr />
                    }
                    
                    <div class="flex items-center gap-8">
                        <div>
                            <label class="inline-flex items-center cursor-pointer mb-2 has-disabled:cursor-not-allowed">
                                <span class="me-3 text-sm font-medium text-gray-700">Learning Path</span>
                                <input type="checkbox" formControlName="isPackage" class="sr-only peer"   [attr.disabled]="CourseForm.get('isTableOfContent')?.value === true ? true : null">
                                <div
                                    class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary-100 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-primary-500/80 peer-disabled:opacity-50 peer-disabled:cursor-not-allowed">
                                </div>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center cursor-pointer mb-2 has-disabled:cursor-not-allowed">
                                <span class="me-3 text-sm font-medium text-gray-700">Table Of Content</span>
                                <input type="checkbox" formControlName="isTableOfContent" class="sr-only peer">
                                <div
                                    class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary-100 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-primary-500/80 peer-disabled:opacity-50 peer-disabled:cursor-not-allowed">
                                </div>
                            </label>
                        </div>
                    </div>
                    @if(CourseForm.get('isPackage')?.value == false && CourseForm.get('isTableOfContent')?.value == false) {
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-2">Course Type</label>
                        <div class="checkbox-group text-xs *:py-1 *:px-2">
                            <label class="checkbox-label">
                                <input formControlName="courseType" type="radio" value="scorm" />
                                <span>SCORM Package</span>
                            </label>
                            <label class="checkbox-label">
                                <input formControlName="courseType" type="radio" value="url" />
                                <span>URL</span>
                            </label>
                            <label class="checkbox-label">
                                <input formControlName="courseType" type="radio" value="pdf" />
                                <span>PDF</span>
                            </label>
                            <label class="checkbox-label">
                                <input formControlName="courseType" type="radio" value="tool" />
                                <span>Authoring Tool Integration</span>
                            </label>
                        </div>
                    </div>
                    }
                    <hr />

                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">Tags</label>
                        <input formControlName="tags" type="text" class="form-input"
                            placeholder="Enter tags separated by commas">
                    </div>
                    <div class="mt-2">
                        <label class="block text-sm font-medium text-gray-700 mb-1">Subsription Month  <span class="text-red-500">*</span></label>
                        <input type="number" formControlName="subscriptionMonth" class="form-input" min="1" max="999" />
                            <!-- Required validation -->
                            <div *ngIf="submitted && f['subscriptionMonth'].errors?.['required']" class="text-red-500 text-sm">
                                Subscription Month is required
                            </div>

                            <!-- Max validation -->
                            <div *ngIf="submitted && f['subscriptionMonth'].errors?.['max']" class="text-red-500 text-sm">
                                Maximum 3 digits allowed
                            </div>

                            <!-- Min validation (optional) -->
                            <div *ngIf="submitted && f['subscriptionMonth'].errors?.['min']" class="text-red-500 text-sm">
                                Minimum value is 1
                            </div>
                    </div>
                </div>
                <div class="mt-4 flex items-center">
                    <div>
                        @if (submitted && errorMessage != '') {
                        <div class="valid-feedback text-red-700 mt-5">
                            {{ errorMessage }}
                        </div>
                        }

                        @if (submitted && successMessage != '') {
                        <div class="valid-feedback text-green-700 mt-5">
                            {{ successMessage }}
                        </div>
                        }
                    </div>
                    <div class="ml-auto">
                        <button (click)="saveCourse()" class="btn-primary">
                            Next
                        </button>
                    </div>
                </div>
                }

                @if (activeTab === 'contentManagement') {
                @if (CourseForm.get('isTableOfContent')?.value === true) {
                <app-course-toc-add-edit [courseId]="id ?? 0" [course]="course"
                    [curriculumId]="CourseForm.get('curriculumSectionId')?.value"
                    (RedirectToSetting)="redirectToLearningGoals()">
                </app-course-toc-add-edit>
                }
                @else if (CourseForm.get('isPackage')?.value === false && CourseForm.get('isTableOfContent')?.value ===
                false) {
                <app-content-management [courseId]="id ?? 0" (RedirectToSetting)="redirectToLearningGoals()">
                </app-content-management>
                }
                @else {
                <app-course-package-list [packageId]="id ?? 0" (RedirectToSetting)="redirectToLearningGoals()">
                </app-course-package-list>
                }
                }

                @if (activeTab === 'learningGoals') {
                <app-course-learning-goals [courseId]="id ?? 0" 
                    (onPrevious)="setActiveTab('contentManagement')"
                    (onNext)="setActiveTab('settings')">
                </app-course-learning-goals>
                }

                @if (activeTab === 'settings') {
                <app-course-setting [courseId]="id ?? 0"></app-course-setting>
                }
            </div>
        </form>
    </section>

</div>